@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100px; 
    min-height: 100px;
    max-height: 70vh;
    object-fit: fill;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.content {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
}

.my-float{
	margin-top:16px;
}

    .div {
        background-color: #fff;
        display: flex;
        flex-direction: column;
      }
      .div-2 {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-self: stretch;
        position: relative;
        display: flex;
        min-height: 817px;
        width: 100%;
      }
      @media (max-width: 991px) {
        .div-2 {
          max-width: 100%;
        }
      }
      .img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      .div-3 {
        position: relative;
        background-color: rgba(23, 65, 137, 0.7);
        display: flex;
        width: 100%;
        flex-direction: column;
      }
      @media (max-width: 991px) {
        .div-3 {
          max-width: 100%;
        }
      }
      .div-4 {
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        align-self: stretch;
        display: flex;
        margin-right: -20px;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        padding: 19px 59px 19px 53px;
      }
      @media (max-width: 991px) {
        .div-4 {
          max-width: 100%;
          flex-wrap: wrap;
          padding: 0 20px;
        }
      }
      .div-5 {
        align-self: stretch;
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }
      .img-2 {
        aspect-ratio: 1.16;
        object-fit: contain;
        object-position: center;
        fill: #174189;
        overflow: hidden;
        max-width: 100%;
      }
      .div-6 {
        align-self: center;
        display: flex;
        flex-grow: 1;
        flex-basis: 0%;
        flex-direction: column;
        margin: auto 0;
      }
      .div-7 {
        color: #242424;
        white-space: nowrap;
        font: 800 27px/32px Macklin Sans, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      @media (max-width: 991px) {
        .div-7 {
          white-space: initial;
        }
      }
      .div-8 {
        color: #bd2189;
        margin-top: 11px;
        white-space: nowrap;
        font: 400 10px/12px Macklin Sans, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      @media (max-width: 991px) {
        .div-8 {
          white-space: initial;
        }
      }
      .div-9 {
        align-self: center;
        display: flex;
        gap: 15px;
        margin: auto 0;
      }
      .img-3 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 28px;
        overflow: hidden;
        max-width: 100%;
      }
      .div-10 {
        color: #242424;
        text-align: center;
        align-self: center;
        flex-grow: 1;
        white-space: nowrap;
        margin: auto 0;
        font: 500 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-10 {
          white-space: initial;
        }
      }
      .div-11 {
        align-self: center;
        display: flex;
        gap: 17px;
        margin: auto 0;
      }
      .img-4 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 28px;
        overflow: hidden;
        max-width: 100%;
      }
      .div-12 {
        color: #242424;
        text-align: center;
        margin: auto 0;
        font: 500 24px/36px Montserrat, sans-serif;
      }
      .div-13 {
        align-self: center;
        display: flex;
        gap: 14px;
        margin: auto 0;
      }
      .img-5 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 28px;
        overflow: hidden;
        max-width: 100%;
      }
      .div-14 {
        color: #242424;
        text-align: center;
        align-self: center;
        flex-grow: 1;
        white-space: nowrap;
        margin: auto 0;
        font: 500 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-14 {
          white-space: initial;
        }
      }
      .div-15 {
        color: #fff;
        text-align: center;
        align-self: center;
        margin-top: 171px;
        white-space: nowrap;
        font: 800 64px/96px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-15 {
          max-width: 100%;
          font-size: 40px;
          line-height: 66px;
          margin-top: 40px;
          white-space: initial;
        }
      }
      .div-16 {
        color: #fff;
        text-align: center;
        align-self: center;
        margin-top: 31px;
        white-space: nowrap;
        font: italic 600 28px/42px Montserrat, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      @media (max-width: 991px) {
        .div-16 {
          max-width: 100%;
          white-space: initial;
        }
      }
      .div-17 {
        align-self: center;
        display: flex;
        margin-top: 60px;
        width: 488px;
        max-width: 100%;
        justify-content: space-between;
        gap: 20px;
      }
      @media (max-width: 991px) {
        .div-17 {
          flex-wrap: wrap;
          margin-top: 40px;
        }
      }
      .div-18 {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        gap: 13px;
        padding: 24px 39px;
      }
      @media (max-width: 991px) {
        .div-18 {
          padding: 0 20px;
        }
      }
      .img-6 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 28px;
        overflow: hidden;
        max-width: 100%;
      }
      .div-19 {
        color: #174189;
        align-self: center;
        flex-grow: 1;
        white-space: nowrap;
        margin: auto 0;
        font: 600 18px/27px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-19 {
          white-space: initial;
        }
      }
      .div-20 {
        border: 1px solid #fff;
        display: flex;
        justify-content: space-between;
        gap: 13px;
        padding: 24px 32px;
      }
      @media (max-width: 991px) {
        .div-20 {
          padding: 0 20px;
        }
      }
      .img-7 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 28px;
        overflow: hidden;
        max-width: 100%;
      }
      .div-21 {
        color: #fff;
        align-self: center;
        flex-grow: 1;
        white-space: nowrap;
        margin: auto 0;
        font: 600 18px/27px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-21 {
          white-space: initial;
        }
      }
      .img-8 {
        aspect-ratio: 2.95;
        object-fit: contain;
        object-position: center;
        width: 124px;
        overflow: hidden;
        align-self: center;
        max-width: 100%;
        margin: 159px 0 12px;
      }
      @media (max-width: 991px) {
        .img-8 {
          margin-top: 40px;
        }
      }
      .div-22 {
        align-self: center;
        display: flex;
        margin-top: 117px;
        width: 100%;
        max-width: 1400px;
        flex-direction: column;
        padding: 0 20px;
      }
      @media (max-width: 991px) {
        .div-22 {
          max-width: 100%;
          margin-top: 40px;
        }
      }
      .div-23 {
        color: #174189;
        margin-right: -20px;
        white-space: nowrap;
        font: 500 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-23 {
          max-width: 100%;
          white-space: initial;
        }
      }
      .div-24 {
        color: #242424;
        margin: 39px -20px 0 0;
        font: 800 54px/66px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-24 {
          max-width: 100%;
          font-size: 40px;
          line-height: 54px;
        }
      }
      .div-25 {
        margin: 54px -20px 0 0;
      }
      @media (max-width: 991px) {
        .div-25 {
          max-width: 100%;
          margin-top: 40px;
        }
      }
      .div-26 {
        gap: 20px;
        display: flex;
      }
      @media (max-width: 991px) {
        .div-26 {
          flex-direction: column;
          align-items: stretch;
          gap: 0px;
        }
      }
      .column {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 53%;
        margin-left: 0px;
      }
      @media (max-width: 991px) {
        .column {
          width: 100%;
        }
      }
      .div-27 {
        disply: flex;
        flex-direction: column;
        color: #fff;
        position: relative;
        white-space: nowrap;
        filter: drop-shadow(0px 5px 40px rgba(0, 0, 0, 0.1));
        overflow: hidden;
        min-height: 409px;
        margin-right: -118px;
        align-items: end;
        padding: 30px 10px 24px 20px;
        font: 500 21px/31.5px Montserrat, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      @media (max-width: 991px) {
        .div-27 {
          white-space: initial;
          max-width: 100%;
          padding-top: 40px;
        }
      }
      .div-28 {
        position: relative;
      }
      .column-2 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 47%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-2 {
          width: 100%;
        }
      }
      .div-29 {
        display: flex;
        margin-top: 9px;
        flex-grow: 1;
        flex-direction: column;
        align-items: end;
      }
      @media (max-width: 991px) {
        .div-29 {
          max-width: 100%;
        }
      }
      .div-30 {
        display: flex;
        margin-right: 40px;
        width: 488px;
        max-width: 100%;
        flex-direction: column;
      }
      @media (max-width: 991px) {
        .div-30 {
          margin-right: 10px;
        }
      }
      .div-31 {
        color: #474747;
        font: 500 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-31 {
          max-width: 100%;
        }
      }
      .div-32 {
        color: #174189;
        text-decoration-line: underline;
        margin-top: 45px;
        white-space: nowrap;
        font: 600 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-32 {
          max-width: 100%;
          margin-top: 40px;
          white-space: initial;
        }
      }
      .div-33 {
        background-color: rgba(23, 65, 137, 0.9);
        align-self: stretch;
        display: flex;
        margin-top: 92px;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        padding: 50px 38px 50px 37px;
      }
      @media (max-width: 991px) {
        .div-33 {
          max-width: 100%;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 40px;
          padding: 0 20px;
        }
      }
      .div-34 {
        color: #fff;
        margin-top: 33px;
        font: 700 42px/63px Montserrat, sans-serif;
      }
      .div-35 {
        background-color: #fff;
        align-self: center;
        width: 1px;
        height: 76px;
        margin: auto 0;
      }
      .div-36 {
        align-self: start;
        display: flex;
        margin-top: 5px;
        flex-grow: 1;
        flex-basis: 0%;
        flex-direction: column;
      }
      .div-37 {
        color: #fff;
        white-space: nowrap;
        font: 500 21px/31.5px Montserrat, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      @media (max-width: 991px) {
        .div-37 {
          white-space: initial;
        }
      }
      .div-38 {
        color: #fff;
        margin-top: 13px;
        white-space: nowrap;
        font: 700 42px/63px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-38 {
          white-space: initial;
        }
      }
      .div-39 {
        background-color: #fff;
        align-self: center;
        width: 1px;
        height: 76px;
        margin: auto 0;
      }
      .div-40 {
        align-self: center;
        display: flex;
        flex-grow: 1;
        flex-basis: 0%;
        flex-direction: column;
        margin: auto 0;
      }
      .div-41 {
        color: #fff;
        white-space: nowrap;
        font: 500 21px/31.5px Montserrat, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      @media (max-width: 991px) {
        .div-41 {
          white-space: initial;
        }
      }
      .div-42 {
        color: #fff;
        margin-top: 8px;
        white-space: nowrap;
        font: 700 42px/63px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-42 {
          white-space: initial;
        }
      }
      .div-43 {
        background-color: #f5f5f5;
        align-self: stretch;
        display: flex;
        margin-top: 108px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
      }
      @media (max-width: 991px) {
        .div-43 {
          max-width: 100%;
          margin-top: 40px;
        }
      }
      .div-44 {
        width: 100%;
        max-width: 1400px;
        margin: 15px 0 14px;
      }
      @media (max-width: 991px) {
        .div-44 {
          max-width: 100%;
        }
      }
      .div-45 {
        gap: 20px;
        display: flex;
      }
      @media (max-width: 991px) {
        .div-45 {
          flex-direction: column;
          align-items: stretch;
          gap: 0px;
        }
      }
      .column-3 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 48%;
        margin-left: 0px;
      }
      @media (max-width: 991px) {
        .column-3 {
          width: 100%;
        }
      }
      .div-46 {
        display: flex;
        margin-top: 9px;
        flex-direction: column;
      }
      @media (max-width: 991px) {
        .div-46 {
          max-width: 100%;
          margin-top: 40px;
        }
      }
      .div-47 {
        color: #174189;
        white-space: nowrap;
        font: 500 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-47 {
          max-width: 100%;
          white-space: initial;
        }
      }
      .div-48 {
        color: #174189;
        margin-top: 37px;
        font: 800 54px/66px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-48 {
          max-width: 100%;
          font-size: 40px;
          line-height: 54px;
        }
      }
      .div-49 {
        display: flex;
        margin-top: 84px;
        justify-content: space-between;
        gap: 20px;
      }
      @media (max-width: 991px) {
        .div-49 {
          max-width: 100%;
          flex-wrap: wrap;
          margin-top: 40px;
        }
      }
      .img-9 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 28px;
        overflow: hidden;
        max-width: 100%;
      }
      .div-50 {
        color: #474747;
        align-self: start;
        flex-grow: 1;
        flex-basis: auto;
        font: 500 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-50 {
          max-width: 100%;
        }
      }
      .div-51 {
        display: flex;
        margin-top: 64px;
        align-items: start;
        justify-content: space-between;
        gap: 20px;
      }
      @media (max-width: 991px) {
        .div-51 {
          max-width: 100%;
          flex-wrap: wrap;
          margin-top: 40px;
        }
      }
      .img-10 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 28px;
        overflow: hidden;
        max-width: 100%;
      }
      .div-52 {
        color: #474747;
        flex-grow: 1;
        flex-basis: auto;
        font: 500 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-52 {
          max-width: 100%;
        }
      }
      .div-53 {
        display: flex;
        margin-top: 64px;
        align-items: start;
        justify-content: space-between;
        gap: 20px;
      }
      @media (max-width: 991px) {
        .div-53 {
          max-width: 100%;
          flex-wrap: wrap;
          margin-top: 40px;
        }
      }
      .img-11 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 28px;
        overflow: hidden;
        max-width: 100%;
      }
      .div-54 {
        color: #474747;
        flex-grow: 1;
        flex-basis: auto;
        font: 500 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-54 {
          max-width: 100%;
        }
      }
      .div-55 {
        display: flex;
        margin-top: 63px;
        align-items: start;
        justify-content: space-between;
        gap: 20px;
      }
      @media (max-width: 991px) {
        .div-55 {
          max-width: 100%;
          flex-wrap: wrap;
          margin-top: 40px;
        }
      }
      .img-12 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 28px;
        overflow: hidden;
        max-width: 100%;
      }
      .div-56 {
        color: #474747;
        flex-grow: 1;
        flex-basis: auto;
        font: 500 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-56 {
          max-width: 100%;
        }
      }
      .column-4 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 52%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-4 {
          width: 100%;
        }
      }
      .img-13 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 100%;
        filter: drop-shadow(0px 5px 40px rgba(0, 0, 0, 0.1));
        overflow: hidden;
        flex-grow: 1;
      }
      @media (max-width: 991px) {
        .img-13 {
          max-width: 100%;
          margin-top: 40px;
        }
      }
      .div-57 {
        background-color: rgba(23, 65, 137, 0.9);
        align-self: stretch;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
      }
      @media (max-width: 991px) {
        .div-57 {
          max-width: 100%;
        }
      }
      .div-58 {
        color: #fff;
        text-align: center;
        margin-top: 33px;
        white-space: nowrap;
        font: 600 28px/42px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-58 {
          max-width: 100%;
          white-space: initial;
        }
      }
      .div-59 {
        align-self: stretch;
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        margin: 70px -20px 36px 0;
      }
      @media (max-width: 991px) {
        .div-59 {
          max-width: 100%;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 40px;
        }
      }
      .img-14 {
        aspect-ratio: 5.16;
        object-fit: contain;
        object-position: center;
        width: 253px;
        overflow: hidden;
        align-self: center;
        margin: auto 0;
      }
      .img-15 {
        aspect-ratio: 4.6;
        object-fit: contain;
        object-position: center;
        width: 221px;
        overflow: hidden;
        align-self: center;
        margin: auto 0;
      }
      .img-16 {
        aspect-ratio: 3.77;
        object-fit: contain;
        object-position: center;
        width: 211px;
        overflow: hidden;
        align-self: center;
        max-width: 100%;
        margin: auto 0;
      }
      .img-17 {
        aspect-ratio: 9.13;
        object-fit: contain;
        object-position: center;
        width: 292px;
        overflow: hidden;
        align-self: center;
        margin: auto 0;
      }
      .img-18 {
        aspect-ratio: 2.48;
        object-fit: contain;
        object-position: center;
        width: 176px;
        overflow: hidden;
        align-self: stretch;
        max-width: 100%;
      }
      .img-19 {
        aspect-ratio: 3.21;
        object-fit: contain;
        object-position: center;
        width: 202px;
        overflow: hidden;
        align-self: center;
        max-width: 100%;
        margin: auto 0;
      }
      .div-60 {
        color: #174189;
        text-align: center;
        align-self: center;
        margin-top: 80px;
        white-space: nowrap;
        font: 500 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-60 {
          margin-top: 40px;
          white-space: initial;
        }
      }
      .div-61 {
        color: #242424;
        text-align: center;
        align-self: center;
        margin-top: 39px;
        white-space: nowrap;
        font: 800 54px/66px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-61 {
          max-width: 100%;
          font-size: 40px;
          line-height: 54px;
          white-space: initial;
        }
      }
      .div-62 {
        align-self: center;
        display: flex;
        margin-top: 67px;
        width: 100%;
        max-width: 1462px;
        justify-content: space-between;
        gap: 20px;
        padding: 0 20px;
      }
      @media (max-width: 991px) {
        .div-62 {
          max-width: 100%;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 40px;
        }
      }
      .img-20 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 62px;
        overflow: hidden;
        align-self: end;
        margin-top: 112px;
        max-width: 100%;
      }
      @media (max-width: 991px) {
        .img-20 {
          margin-top: 40px;
        }
      }
      .img-21 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 180px;
        filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.1));
        overflow: hidden;
        max-width: 100%;
      }
      .img-22 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 62px;
        overflow: hidden;
        align-self: end;
        margin-top: 112px;
        max-width: 100%;
      }
      @media (max-width: 991px) {
        .img-22 {
          margin-top: 40px;
        }
      }
      .div-63 {
        color: #474747;
        text-align: center;
        align-self: center;
        margin-top: 38px;
        max-width: 926px;
        font: 500 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-63 {
          max-width: 100%;
        }
      }
      .div-64 {
        color: #242424;
        text-align: center;
        align-self: center;
        margin-top: 41px;
        white-space: nowrap;
        font: 700 28px/42px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-64 {
          margin-top: 40px;
          white-space: initial;
        }
      }
      .div-65 {
        color: #6b6b6b;
        text-align: center;
        align-self: center;
        margin-top: 10px;
        white-space: nowrap;
        font: italic 500 24px/36px Montserrat, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      @media (max-width: 991px) {
        .div-65 {
          white-space: initial;
        }
      }
      .div-66 {
        background-color: #242424;
        align-self: stretch;
        display: flex;
        margin-top: 102px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
      }
      @media (max-width: 991px) {
        .div-66 {
          max-width: 100%;
          margin-top: 40px;
        }
      }
      .div-67 {
        display: flex;
        width: 100%;
        max-width: 1400px;
        flex-direction: column;
        margin: 26px 0 13px;
      }
      @media (max-width: 991px) {
        .div-67 {
          max-width: 100%;
        }
      }
      .div-68 {
      }
      @media (max-width: 991px) {
        .div-68 {
          max-width: 100%;
        }
      }
      .div-69 {
        gap: 20px;
        display: flex;
      }
      @media (max-width: 991px) {
        .div-69 {
          flex-direction: column;
          align-items: stretch;
          gap: 0px;
        }
      }
      .column-5 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 24%;
        margin-left: 0px;
      }
      @media (max-width: 991px) {
        .column-5 {
          width: 100%;
        }
      }
      .div-70 {
        color: #fff;
        font: 700 24px/36px Work Sans, sans-serif;
      }
      @media (max-width: 991px) {
        .div-70 {
          margin-top: 40px;
        }
      }
      .column-6 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 41%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-6 {
          width: 100%;
        }
      }
      .div-71 {
        display: flex;
        flex-direction: column;
      }
      @media (max-width: 991px) {
        .div-71 {
          margin-top: 40px;
        }
      }
      .div-72 {
        color: #fff;
        white-space: nowrap;
        font: 700 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-72 {
          white-space: initial;
        }
      }
      .div-73 {
        display: flex;
        margin-top: 34px;
        align-items: start;
        justify-content: space-between;
        gap: 15px;
      }
      .img-23 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 24px;
        overflow: hidden;
        max-width: 100%;
      }
      .div-74 {
        color: #fff;
        flex-grow: 1;
        flex-basis: auto;
        font: 500 21px/31.5px Montserrat, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      .div-75 {
        display: flex;
        margin-top: 33px;
        justify-content: space-between;
        gap: 15px;
      }
      .img-24 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 24px;
        overflow: hidden;
        max-width: 100%;
      }
      .div-76 {
        color: #fff;
        align-self: start;
        flex-grow: 1;
        white-space: nowrap;
        font: 500 21px/31.5px Montserrat, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      @media (max-width: 991px) {
        .div-76 {
          white-space: initial;
        }
      }
      .column-7 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 23%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-7 {
          width: 100%;
        }
      }
      .div-77 {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
      }
      @media (max-width: 991px) {
        .div-77 {
          margin-top: 40px;
        }
      }
      .div-78 {
        color: #fff;
        white-space: nowrap;
        font: 700 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-78 {
          white-space: initial;
        }
      }
      .div-79 {
        color: #fff;
        margin-top: 33px;
        white-space: nowrap;
        font: 500 21px/31.5px Montserrat, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      @media (max-width: 991px) {
        .div-79 {
          white-space: initial;
        }
      }
      .div-80 {
        color: #fff;
        margin-top: 30px;
        white-space: nowrap;
        font: 500 21px/31.5px Montserrat, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      @media (max-width: 991px) {
        .div-80 {
          white-space: initial;
        }
      }
      .div-81 {
        color: #fff;
        margin-top: 31px;
        white-space: nowrap;
        font: 500 21px/31.5px Montserrat, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      @media (max-width: 991px) {
        .div-81 {
          white-space: initial;
        }
      }
      .column-8 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 12%;
        margin-left: 20px;
      }
      @media (max-width: 991px) {
        .column-8 {
          width: 100%;
        }
      }
      .div-82 {
        display: flex;
        flex-direction: column;
      }
      @media (max-width: 991px) {
        .div-82 {
          margin-top: 40px;
        }
      }
      .div-83 {
        color: #fff;
        white-space: nowrap;
        font: 700 24px/36px Montserrat, sans-serif;
      }
      @media (max-width: 991px) {
        .div-83 {
          white-space: initial;
        }
      }
      .div-84 {
        display: flex;
        margin-top: 35px;
        justify-content: space-between;
        gap: 20px;
      }
      @media (max-width: 991px) {
        .div-84 {
          justify-content: center;
        }
      }
      .img-25 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 24px;
        overflow: hidden;
        max-width: 100%;
      }
      .img-26 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 24px;
        overflow: hidden;
        max-width: 100%;
      }
      .img-27 {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 24px;
        overflow: hidden;
        max-width: 100%;
      }
      .div-85 {
        color: #fff;
        margin-top: 161px;
        white-space: nowrap;
        font: italic 400 14px/21px Montserrat, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      @media (max-width: 991px) {
        .div-85 {
          max-width: 100%;
          margin-top: 40px;
          white-space: initial;
        }
      }
    